numpy == 1.21.2
uproot == 4.1.2
awkward == 1.5.0rc1
vector == 0.8.4
particle == 0.12.0
mplhep == 0.3.12
scipy == 1.7.1
matplotlib == 3.4.3
pandas == 1.3.2
hist[plot] == 2.4.0
lz4 == 3.1.3
xxhash == 2.0.2
zstandard == 0.15.2
jupyterlab == 3.1.9
